<div class="container mt-4">
    <div class="card shadow p-4">
      <h3 class="text-center text-primary mb-3">Détails du Budget</h3>
  
      <div *ngIf="budget">
        <table class="table table-bordered">
          <tr>
            <th>ID</th>
            <td>{{ budget.id }}</td>
          </tr>
          <tr>
            <th>Montant Total</th>
            <td>{{ budget.montantTotal | currency:'DT' }}</td>
          </tr>
          <tr>
            <th>Montant Restant</th>
            <td>{{ budget.montantRestant | currency:'DT' }}</td>
          </tr>
          <tr>
            <th>ID Projet</th>
            <td>{{ budget.projectId }}</td>
          </tr>
          <tr>
            <th>Date de Création</th>
            <td>{{ budget.dateCreation | date:'dd/MM/yyyy HH:mm' }}</td>
          </tr>
        </table>
      </div>
  
      <div *ngIf="!budget" class="alert alert-warning text-center">
        Aucun budget disponible.
      </div>
    </div>
  </div>
  