<div class="grid">
    <div class="col-12">
      <div class="card px-6 py-6">
        <p-toast></p-toast>
        <p-toolbar styleClass="mb-4">
          <ng-template pTemplate="left">
            <div class="my-2">
              <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>
            </div>
          </ng-template>
          <ng-template pTemplate="right">
            <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import" class="mr-2 inline-block"></p-fileUpload>
            <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help" (click)="dt.exportCSV()"></button>
          </ng-template>
        </p-toolbar>
  
        <p-table #dt [value]="inspections" [columns]="cols" responsiveLayout="scroll" [rows]="10" 
                 [globalFilterFields]="['inspectionID','project_id','inspector','findings','status','inspectionType']" 
                 [paginator]="true" [rowsPerPageOptions]="[10,20,30]" 
                 [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" 
                 [(selection)]="selectedInspections" selectionMode="multiple" [rowHover]="true" dataKey="inspectionID">
          <ng-template pTemplate="caption">
            <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
              <h5 class="m-0">Manage Inspections</h5>
              <span class="block mt-2 md:mt-0 p-input-icon-left">
                <i class="pi pi-search"></i>
                <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Search..." class="w-full sm:w-auto"/>
              </span>
            </div>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th style="width: 3rem">
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
              </th>
              <th pSortableColumn="inspectionID">ID <p-sortIcon field="inspectionID"></p-sortIcon></th>
              <th pSortableColumn="project_id">Project ID <p-sortIcon field="project_id"></p-sortIcon></th>
              <th pSortableColumn="inspector">Inspector <p-sortIcon field="inspector"></p-sortIcon></th>
              <th pSortableColumn="date">Date <p-sortIcon field="date"></p-sortIcon></th>
              <th pSortableColumn="findings">Findings <p-sortIcon field="findings"></p-sortIcon></th>
              <th pSortableColumn="recommendations">Recommendations <p-sortIcon field="recommendations"></p-sortIcon></th>
              <th pSortableColumn="status">Status <p-sortIcon field="status"></p-sortIcon></th>
              <th pSortableColumn="inspectionType">Inspection Type <p-sortIcon field="inspectionType"></p-sortIcon></th>
              <th></th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-inspection>
            <tr>
              <td>
                <p-tableCheckbox [value]="inspection"></p-tableCheckbox>
              </td>
              <td><span class="p-column-title">ID</span>{{ inspection.inspectionID }}</td>
              <td><span class="p-column-title">Project ID</span>{{ inspection.project_id }}</td>
              <td><span class="p-column-title">Inspector</span>{{ inspection.inspector }}</td>
              <td><span class="p-column-title">Date</span>{{ inspection.date | date:'short' }}</td>
              <td><span class="p-column-title">Findings</span>{{ inspection.findings }}</td>
              <td><span class="p-column-title">Recommendations</span>{{ inspection.recommendations }}</td>
              <td><span class="p-column-title">Status</span>{{ inspection.status }}</td>
              <td><span class="p-column-title">Inspection Type</span>{{ inspection.inspectionType }}</td>
              <td>
                <div class="flex">
                  <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editInspection(inspection)"></button>
                  <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteInspection(inspection)"></button>
                </div>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
  
      <p-dialog [(visible)]="inspectionDialog" [style]="{width: '450px'}" header="Inspection Details" [modal]="true" class="p-fluid">
        <ng-template pTemplate="content">
          <div class="field">
            <label for="project_id">Project ID</label>
            <input type="number" pInputText id="project_id" [(ngModel)]="inspection.project_id" required autofocus/>
            <small *ngIf="submitted && (!inspection.project_id)" class="p-error">Project ID is required.</small>
          </div>
          <div class="field">
            <label for="inspector">Inspector</label>
            <input type="text" pInputText id="inspector" [(ngModel)]="inspection.inspector" required/>
            <small *ngIf="submitted && (!inspection.inspector || inspection.inspector.trim() === '')" class="p-error">Inspector is required.</small>
          </div>
          <div class="field">
            <label for="status">Status</label>
            <p-dropdown [(ngModel)]="inspection.status" inputId="status" [options]="statuses" placeholder="Select Status"></p-dropdown>
          </div>
          <div class="field">
            <label for="date">Date</label>
            <input type="datetime-local" pInputText id="date" [(ngModel)]="inspection.date" required/>
            <small *ngIf="submitted && (!inspection.date)" class="p-error">Date is required.</small>
          </div>
          <div class="field">
            <label for="findings">Findings</label>
            <textarea id="findings" pInputTextarea [(ngModel)]="inspection.findings" required rows="3" cols="20"></textarea>
            <small *ngIf="submitted && (!inspection.findings || inspection.findings.trim() === '')" class="p-error">Findings are required.</small>
          </div>
          <!-- Only show Recommendations and Inspection Type when editing an existing inspection -->
          <div *ngIf="inspection.inspectionID">
            <div class="field">
              <label for="recommendations">Recommendations</label>
              <textarea id="recommendations" pInputTextarea [(ngModel)]="inspection.recommendations" rows="3" cols="20"></textarea>
            </div>
            <div class="field">
              <label for="inspectionType">Inspection Type</label>
              <input type="text" pInputText id="inspectionType" [(ngModel)]="inspection.inspectionType"/>
            </div>
          </div>
          
        </ng-template>
        <ng-template pTemplate="footer">
          <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
          <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveInspection()"></button>
        </ng-template>
      </p-dialog>
  
      <p-dialog [(visible)]="deleteInspectionDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
        <div class="flex align-items-center justify-content-center">
          <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
          <span *ngIf="inspection">Are you sure you want to delete <b>{{ inspection.inspector }}</b>?</span>
        </div>
        <ng-template pTemplate="footer">
          <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteInspectionDialog = false"></button>
          <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDelete()"></button>
        </ng-template>
      </p-dialog>
  
      <p-dialog [(visible)]="deleteInspectionsDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
        <div class="flex align-items-center justify-content-center">
          <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
          <span>Are you sure you want to delete selected inspections?</span>
        </div>
        <ng-template pTemplate="footer">
          <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteInspectionsDialog = false"></button>
          <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDeleteSelected()"></button>
        </ng-template>
      </p-dialog>
    </div>
  </div>
  